/dts-v1/;

#include "imx8mm-cgtsx8m-lvds.dtsi"

/ {
        lvdspanel {

                panel-timing {
			clock-frequency = <74074074>;
                        hactive = <1280>;
                        vactive = <720>;
                        hsync-len = <40>;
                        hfront-porch = <110>;
                        hback-porch = <220>;
                        vsync-len = <5>;
                        vfront-porch = <5>;
                        vback-porch = <20>;
                };
        };
};
