/dts-v1/;

#include "imx8mm-cgtsx8m.dts"

/ {
        lvds_backlight: lvds_backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		enable-gpios =  <&gpio4 19 GPIO_ACTIVE_HIGH>; /* LFP0_BKL_EN */
		pwms = <&pwm1 0 100000>;

		status = "okay";

		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
			10 11 12 13 14 15 16 17 18 19
			20 21 22 23 24 25 26 27 28 29
			30 31 32 33 34 35 36 37 38 39
			40 41 42 43 44 45 46 47 48 49
			50 51 52 53 54 55 56 57 58 59
			60 61 62 63 64 65 66 67 68 69
			70 71 72 73 74 75 76 77 78 79
			80 81 82 83 84 85 86 87 88 89
			90 91 92 93 94 95 96 97 98 99
			100>;
		 default-brightness-level = <60>;
        };

        lvdspanel {
		backlight = <&lvds_backlight>;

		status = "okay";
        };
};

&i2c4 {
	lvds-bridge@2c {
		status = "okay";
	};
};

&mipi_dsi {
	status = "okay";
};

&lcdif {
        status = "okay";
};

&pwm1 { /* LVDS0 backlight */
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm1>;
        status = "okay";
};


&iomuxc {
	pinctrl_backlight: lvdsbacklight {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_TXD7_GPIO4_IO19 	0x100
                >;
        };

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO01_PWM1_OUT	0x110
		>;
	};
};

